{{#link-to "index"}}
<h1 id="title"> <img class="rotate" src="assets/images/pokeball.png" alt="pokeball"> Pokedex <img class="rotate"
        src="assets/images/pokeball.png" alt="pokeball"></h1>
{{/link-to}}